* {
    margin: 0;
    padding: 0;
}


body {
    font-family: "Arial", non-serif;
}

.container {
    margin: 0 auto;
    width: 500px;
    text-align: center;
}


h1 {
    margin-top: 200px;
}


#serverAnswer {
    display: none;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    padding-top: 21px;
    height: 50px;
    width: 300px;
    margin: 0 auto;
    margin-top: 20px;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background-color: #ff3333;
    background-image: linear-gradient(to bottom,  #ff3333, #e60000);
    background-repeat: repeat-x;
    border: 1px solid;
    border-color: #e60000 #e60000 #800000;
    border-radius: 4px;
}


input {
    margin: 0 auto;
    margin-top: 30px;
    display: block;
    height: 30px;
    border: 1px solid darkblue;
    padding-left: 4px;
    box-shadow: 3px 4px 10px #c2c2a3;
    border-radius: 4px;

}


button {
    color: #222;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background-color: #ffbc2e;
    background-image: linear-gradient(to bottom, #ffcd34, #ffa426);
    background-repeat: repeat-x;
    border: 1px solid;
    border-color: #ffa426 #ffa426 #d87e00;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    padding: 9px 9px;
    margin: 0 auto;
    margin-top: 30px;
}


#renewButton {
    display: none;
}
